<header class="page-header">
 <p>Find me in app/views/admin/dashboard/show.html.erb</p>		   <h1>Admin &raquo; Dashboard</h1>
 </header>

  <ul class="list-group">
   <li class="list-group-item list-group-item-success">
     <span class="badge"><%= @products.count %></span>
     Products
   </li>
   <li class="list-group-item list-group-item-info">
     <span class="badge"><%= @categories.count %></span>
     Categories
   </li>
 </ul>